/* 네비게이션 바 */
body{
  margin : 0;
  height : 100vh;
  top : 0;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;  /* 네비게이션 바가 상위에 위치하도록 */
  background-color: white;
  border-bottom: 1px solid #ccc;
}

/* 리스트 스타일 */
.list-group {
  display: none;
  position: relative;  /* 네비게이션 바 바로 아래에 리스트가 배치되도록 수정 */
  top: 0;
  z-index: 999;  /* 네비게이션 바 위에 리스트가 나타나도록 설정 */
  background-color: white;
  width: 100%;
  margin-top: 60px;  /* 리스트가 네비게이션 바 아래로 나오게 설정 */
}

.show {
  display: block;
}

/* 검은 배경 */
.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.white-bg {
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.show-modal {
  opacity: 1;
  visibility: visible;
}

/* 로그인 버튼 */
.login-button {
  display: inline-block;
  margin-top: 20px;
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  visibility: visible;
}

.login-button:hover {
  background-color: darkgray;
}

/* 슬라이드 스타일 */
.slide-container {
  width: 300vw;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-box {
  width: 100vw;
  flex-shrink: 0;
}

.slide-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* 메인 배경 */
.main-bg {
  background-color: lightgrey;
  height: 150px;
  position: relative;
  margin-top: 150px; /* 네비게이션 바와 겹치지 않도록 여백 추가 */
  text-align: center;
}

/* 경고창 */
.alert-danger {
  visibility: visible;
  background-color: #dc3545;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #343a40;
  transition: all 0.3s ease;
}

.navbar-brand:hover {
  color: #007bff;
}
