
.list-group {
    display: none;
}

.show {
     display: block;
}
.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;

}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 
.show-modal{
  opacity: 1;
  visibility: visible;

}

.login-button{
  display: block;
}
.slide-container {
  width: 300vw;
  transition: all 1s;
  /* transform: translateX(-100vw); */
} 
.slide-box {
  width: 100vw;
  float: left;
}
.slide-box img {
  width: 100%;
} 
.main-bg{
  background-color: lightblue;
  height: 100px;
}

.alert-danger{
  visibility : visible;
}